# Arquivos de Ambiente (Segurança)
.env
*.pem
*.key

# Logs e arquivos de sistema
*.log
tmp/
runtime/

# Dependencias PHP
vendor/
composer.phar

# Estado local do Obsidian
.obsidian/workspace.json
.vscode/
.idea/

exemplo/
